.profile__edit-button {
  margin: 8px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: center no-repeat black;
  box-sizing: border-box;
  transition: .3s linear;
  opacity: 1;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin-top: 30px;
    margin-left: 18px;
  }
}

@media screen and (max-width: 660px) {
  .profile__edit-button {
    margin-left: 0;
    width: 18px;
    height: 18px;


  }
}
