.profile__edit-button {
  margin: 8px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: center center black;
  box-sizing: border-box;
  transition: opacity .3s;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

