.popup__container {
  max-width: 430px;
  position: relative;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
}

@media screen and (max-width: 660px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}
