.profile {
  padding: 40px 0 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 42px 19px 36px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
