.profile__edit-button-image {
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 660px) {
  .profile__edit-button-image {
    width: 7.5px;
    height: 7.5px;
    padding-bottom: 3px;
  }
}
