.profile__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 7px 0 0;
}

@media screen and (max-width: 768px) {
  .profile__text {
    text-align: center;
    padding-bottom: 33px;
  }
}

@media screen and (max-width: 660px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
  }
}
