.popup__close-button {
  position: absolute;
  top: -40px;
  right: -50px;
  background: transparent center no-repeat;
  border: 0;
  transition: .3s linear;
  opacity: 1;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .popup__close-button {

  }
}
