.profile__avatar {
  width: 120px;
  height: 100%;
  margin-right: 30px;
  object-fit: cover;
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    align-self: center;
    margin: 0;
  }
}
